# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Hardhat
artifacts/
cache/

# Environment
.env
.env.*

# Logs
*.log

# Reports
*.csv

# TypeScript
*.tsbuildinfo

# OS
desktop.ini
Thumbs.db
.DS_Store

# VS Code
.vscode/
